# 1. Getting our data ready to be used with machine learning

3 things we need to do:
  1. Split the data into features and labels 
  2. Filling (also called imputing ) or disregarding missing values
  3. Converting non-numerical values to numerical values (feature encoding)

In [17]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [18]:
hd=pd.read_csv('heart-disease.csv')
hd.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [19]:
x=hd.drop('target', axis=1)
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [20]:
y=hd['target']

In [21]:
# split the data into train and test data
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test= train_test_split(x,y, test_size=0.2)

In [22]:
x_train.shape , x_test.shape , y_train.shape , y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [23]:
x.shape, y.shape

((303, 13), (303,))

# 1.1 Make sure the data is numerical

In [24]:
car_sales= pd.read_csv('data/car-sales-extended.csv')
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [25]:
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           1000 non-null   object
 1   Colour         1000 non-null   object
 2   Odometer (KM)  1000 non-null   int64
 3   Doors          1000 non-null   int64
 4   Price          1000 non-null   int64
dtypes: int64(3), object(2)
memory usage: 39.2+ KB

In [26]:
a=car_sales.drop('Price', axis=1)
b=car_sales['Price']

#train test split
a_train , a_test , b_train , b_test= train_test_split(a,b, test_size=0.2)

In [29]:
#label encoding categorical features
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

category_features=['Make' , 'Colour', 'Doors']
oneHot=OneHotEncoder()
optimus=ColumnTransformer([('One_hot', oneHot, category_features)], remainder='passthrough')
optimus_x=optimus.fit_transform(a)
optimus_x

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]], shape=(1000, 13))

In [30]:
# build machine learning model
from sklearn.ensemble import RandomForestRegressor
#regression will be used for predicting the price of the car
model= RandomForestRegressor()
model.fit(a_train , b_train)
model.score(a_test, b_test)

ValueError: could not convert string to float: 'Toyota'