# 1. Getting our data ready to be used with machine learning

3 things we need to do:
  1. Split the data into features and labels 
  2. Filling (also called imputing ) or disregarding missing values
  3. Converting non-numerical values to numerical values (feature encoding)

In [48]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [49]:
hd=pd.read_csv('heart-disease.csv')
hd.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [50]:
x=hd.drop('target', axis=1)
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [51]:
y=hd['target']

In [52]:
# split the data into train and test data
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test= train_test_split(x,y, test_size=0.2)

In [53]:
x_train.shape , x_test.shape , y_train.shape , y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [54]:
x.shape, y.shape

((303, 13), (303,))

# 1.1 Make sure the data is numerical

In [55]:
car_sales= pd.read_csv('data/car-sales-extended.csv')
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [56]:
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           1000 non-null   object
 1   Colour         1000 non-null   object
 2   Odometer (KM)  1000 non-null   int64
 3   Doors          1000 non-null   int64
 4   Price          1000 non-null   int64
dtypes: int64(3), object(2)
memory usage: 39.2+ KB

In [57]:
a=car_sales.drop('Price', axis=1)
b=car_sales['Price']

#train test split
a_train , a_test , b_train , b_test= train_test_split(a,b, test_size=0.2)

In [58]:
#label encoding categorical features
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

category_features=['Make' , 'Colour', 'Doors']
oneHot=OneHotEncoder()
optimus=ColumnTransformer([('One_hot', oneHot, category_features)], remainder='passthrough')
optimus_x=optimus.fit_transform(a)
optimus_x

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]], shape=(1000, 13))

In [59]:
#now let's fit a model
np.random.seed(22)
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test= train_test_split(optimus_x , b, test_size=0.2)
model= RandomForestRegressor()
model.fit(x_train , y_train)
model.score(x_test , y_test)

0.33720668288865896

In [60]:
dummies=pd.get_dummies(car_sales[['Make', 'Colour','Doors']])
dummies

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,False,True,False,False,False,False,False,False,True
1,5,True,False,False,False,False,True,False,False,False
2,4,False,True,False,False,False,False,False,False,True
3,4,False,False,False,True,False,False,False,False,True
4,3,False,False,True,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...
995,4,False,False,False,True,True,False,False,False,False
996,3,False,False,True,False,False,False,False,False,True
997,4,False,False,True,False,False,True,False,False,False
998,4,False,True,False,False,False,False,False,False,True
999,4,False,False,False,True,False,True,False,False,False

In [61]:
# build machine learning model
np.random.seed(22)
p_train, p_test, q_train, q_test= train_test_split(optimus_x, b , test_size=0.2)
model.fit(p_train , q_train)

RandomForestRegressor()

In [62]:
model.score(p_test , q_test)

0.33720668288865896

# 1.2 Handling missing values
1. Fill them with some values (imputation)
2. Remove the sample with missing data altogether

In [63]:
# Import car sales missing data
car_missing=pd.read_csv('data/car-sales-extended-missing-data.csv')
car_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [64]:
car_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [65]:
#fill missing data
# car_missing['Make'].fillna('Missing' , inplace=True)
# car_missing['Colour'].fillna('Missing' , inplace=True)
# car_missing['Odometer'].fillna(car_missing['Odometer'].mean(), inplace=True)
# car_missing['Doors'].fillna(4 , inplace=True) #depricated method
car_missing.fillna({'Doors' : 4, 'Odometer (KM)':car_missing['Odometer (KM)'].mean(), 'Colour' :'Missing' , 'Make': 'Missing'} , inplace=True)

In [66]:
#remove rows with missing price values
car_missing.dropna(inplace=True)

In [67]:
car_missing

        Make Colour  Odometer (KM)  Doors    Price
0      Honda  White        35431.0    4.0  15323.0
1        BMW   Blue       192714.0    5.0  19943.0
2      Honda  White        84714.0    4.0  28343.0
3     Toyota  White       154365.0    4.0  13434.0
4     Nissan   Blue       181577.0    3.0  14043.0
..       ...    ...            ...    ...      ...
995   Toyota  Black        35820.0    4.0  32042.0
996  Missing  White       155144.0    3.0   5716.0
997   Nissan   Blue        66604.0    4.0  31570.0
998    Honda  White       215883.0    4.0   4001.0
999   Toyota   Blue       248360.0    4.0  12732.0

[950 rows x 5 columns]

In [68]:
c=car_missing.drop('Price' , axis=1)
d=car_missing['Price']

In [69]:
#label encoding categorical features
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

category_features=['Make' , 'Colour', 'Doors']
oneHot=OneHotEncoder()
optimus=ColumnTransformer([('One_hot', oneHot, category_features)], remainder='passthrough')
optimus_c=optimus.fit_transform(car_missing)
optimus_c

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        3.54310e+04, 1.53230e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        1.92714e+05, 1.99430e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        8.47140e+04, 2.83430e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        6.66040e+04, 3.15700e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.15883e+05, 4.00100e+03],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.48360e+05, 1.27320e+04]], shape=(950, 16))

In [70]:
type(optimus_c)

numpy.ndarray

In [71]:
car_missing2=pd.read_csv('data/car-sales-extended-missing-data.csv')

In [72]:
car_missing2.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [73]:
car_missing2.dropna(subset=['Price'] , inplace=True)
car_missing2.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [74]:
#split into x and y
x=car_missing2.drop('Price' , axis=1)
y=car_missing2['Price']

In [75]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

#fill categorical values with 'missing' and numerical values with mean
cat_imputer=SimpleImputer(strategy='constant' , fill_value='missing')
door_imputer=SimpleImputer(strategy='constant' , fill_value=4)
num_imputer=SimpleImputer(strategy='mean')

#define columns
cat_features=['Make' , 'Colour']
door_features=['Doors']
num_features=['Odometer (KM)']

#create an imputer 
imputer= ColumnTransformer([
    ('cat_imputer', cat_imputer, cat_features),
    ('door_imputer' , door_imputer, door_features),
    ('num_imputer' , num_imputer ,num_features)
])

#transform the data
filled_x=imputer.fit_transform(x)
filled_x

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], shape=(950, 4), dtype=object)

In [76]:
car_sales_filled=pd.DataFrame(filled_x , columns=['Make' , 'Colour', 'Doors','Odometer'])
car_sales_filled

        Make Colour Doors  Odometer
0      Honda  White   4.0   35431.0
1        BMW   Blue   5.0  192714.0
2      Honda  White   4.0   84714.0
3     Toyota  White   4.0  154365.0
4     Nissan   Blue   3.0  181577.0
..       ...    ...   ...       ...
945   Toyota  Black   4.0   35820.0
946  missing  White   3.0  155144.0
947   Nissan   Blue   4.0   66604.0
948    Honda  White   4.0  215883.0
949   Toyota   Blue   4.0  248360.0

[950 rows x 4 columns]

In [77]:
car_sales_filled.isna().sum()

Make        0
Colour      0
Doors       0
Odometer    0
dtype: int64

In [78]:
#label encoding categorical features
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

category_features=['Make' , 'Colour', 'Doors']
oneHot=OneHotEncoder()
optimus=ColumnTransformer([('One_hot', oneHot, category_features)], remainder='passthrough')
optimus_c=optimus.fit_transform(car_sales_filled)
optimus_c

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 3800 stored elements and shape (950, 15)>

In [79]:
#now let's fit a model
np.random.seed(22)
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test= train_test_split(optimus_c , y , test_size=0.2)
model= RandomForestRegressor()
model.fit(x_train , y_train)
model.score(x_test , y_test)

0.23507684463225975

# 2. Choosing the right estimator/algorithm for our problem
Scikit learn uses estimator as  another term for machine learning model or algorithm

 * classification  - predicting a binary value
 * Regression - predicting a number

In [80]:
#follow the scikit learn cheatsheet to choose the right estimator for a problem

In [81]:
# 2.1 picking machine learning model for a regression problem
# import california housing dataset
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()
housing

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]], shape=(20640, 8)),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894], shape=(20640,)),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n:Number of Instances: 20640\n\n:Number of Attributes: 8 numeric, predictive attributes and the target\n\n:Attribute Information:\n    - MedInc        median income in block group\n    - HouseAge      median house age in block group\n    - AveRooms      average number of rooms per household\n    - AveBedrms     average number of bedrooms per household\n    - Population    block group population\n    - AveOccup      average number of household members\n    - Latitude      block group latitude\n    - Longitude     block group longitude\n\n:Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nA household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surprisingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. rubric:: References\n\n- Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n  Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [82]:
#target variable is the median house value for California districts,expressed in hundreds of thousands of dollars ($100,000).

housing_df=pd.DataFrame(housing['data'] , columns=housing['feature_names'])
housing_df['target']=pd.Series(housing['target'])
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [83]:
# number of samples
len(housing_df)

20640

Concept	      :        Simple Meaning

Regression	  :    Predicting a number (like test marks)

Classification	:  Predicting a category (like dog vs cat)

Ridge	   :       A method to avoid overfitting by adding a penalty

Alpha (λ)    :     Controls how strong the penalty is

Why it's useful?  :	Makes models simpler, better, and less “jumpy”


Ridge Regression is a type of linear regression that includes L2 regularization.
It is used to prevent overfitting in cases where there are:
 * Many features (especially if they are correlated)

 * Small or noisy datasets

It works by penalizing the magnitude of the coefficients (weights) in the model, discouraging large values.


                                                                               L2 regularization is a technique used in machine learning to prevent overfitting by discouraging large values in model coefficients (weights).

📌 Why Do We Need It?
When a model is too flexible (especially with many features), it can memorize the training data — this is called overfitting.
It performs well on training data but poorly on new (test) data.
Regularization helps by adding a penalty to the model's loss function, making it prefer simpler models with smaller weights.

In [84]:
from sklearn.linear_model import Ridge
np.random.seed(44)
#create the data
x=housing_df.drop('target' , axis=1)
y=housing_df['target']

#split the data
x_train , x_test , y_train , y_test = train_test_split(x, y , test_size=0.2)

#instantiate  ridge model
model=Ridge()
model.fit(x_train , y_train)

model.score(x_test , y_test)

0.6084803082317329

In [85]:
# How to improve the model
# what if ridge was'nt working
from sklearn.ensemble import RandomForestRegressor
np.random.seed(99)
x=housing_df.drop('target' , axis=1)
y=housing_df['target']

#split the data
x_train , x_test , y_train , y_test = train_test_split(x, y , test_size=0.2)

rmodel=RandomForestRegressor(n_estimators=100)
rmodel.fit(x_train , y_train)
rmodel.score(x_test , y_test)

0.8131634319929495

In [86]:
# Y_pred= model.predict(x_test)
# Y_pred

In [87]:
# plt.figure(figsize=(10,10))
# plt.scatter(x['Population'], y, color='black', label='Your Data');

# plt.plot(x_test,Y_pred, label='Linear Regression', linestyle='--');

In [88]:
# 2.2 choosing an estimator for a classification problem

In [89]:
hd.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [90]:
len(hd)

303

In [91]:
from sklearn.svm import LinearSVC
np.random.seed(9)
x=hd.drop('target' , axis=1)
y=hd['target']

x_train , x_test , y_train , y_test = train_test_split(x, y , test_size=0.2)

clf=LinearSVC()
clf.fit(x_train , y_train)
clf.score(x_test , y_test)

0.8360655737704918

In [92]:
#using random forest calssifier
from sklearn.ensemble import RandomForestClassifier
np.random.seed(9)
x=hd.drop('target' , axis=1)
y=hd['target']

x_train , x_test , y_train , y_test = train_test_split(x, y , test_size=0.2)

rfClf=RandomForestClassifier()
rfClf.fit(x_train , y_train)
rfClf.score(x_test , y_test)

0.8032786885245902

# 3. Fit the model/algo and use it to make prediction on our data

In [ ]:
#3.1 fitting the model to data
# training the ml model and the model will figure out patterns in the data
# we will use these patterns to predict outcomes